@{
    ViewData["Title"] = "Home Page";
}

<div id="page-container">
    <div id="content-wrap">
<div class="text-center">
    <h1 style="font-size:50px;">Kicks'R'Us</h1>
    <h3>The #1 place to shop for limited sneakers!</h3>
</div>

<div class="hero-image">
    @*<div class="hero-text">
        <h1 style="font-size:50px">Kicks'R'Us</h1>
        <h3>The #1 place for sneaker connoisseurs.</h3>
    </div>*@
</div>

<br />
<hr style="height:3px;">
<br />
<div class="text-center">
    <h3>Best Sellers</h3>
</div>


<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img
        src="/images/bredtoes.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Jordan 1 Retro High Bred Toe</h5>
        <p class="card-text">
          Combining elements of three certified classic AJ1’s, the 2018 Jordan 1 Retro High Bred Toe is like the Coachella lineup of OG 1s.
            Coming in gym red, black, and summit white, with red on the toe box, outsole, and wrapping around the ankle and heel, white side panels and midsole 
            and black covering the rest of the sneaker, it’s a perfectly balanced mash-up of the Banned, Chicago,
            and Black Toe all in one. Originally releasing in February of 2018, the Bred toe has been one of the most popular sneakers.
        </p>
      </div>
      
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img
        src="/images/nikejordansoffwhite.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Jordan 1 Retro High Off-White University Blue</h5>
        <p class="card-text">
          Time for some Tobacco Road vibes with these Jordan 1 Retro Off-Whites. Also known as the “UNC” editions, these Jordan 1s are the third colorway designed by Virgil Abloh and made
            in collaboration with his Off-White label. The sneakers come in a white, dark powder blue and cone colorway, with a white and blue deconstructed leather upper and Off-White detailing throughout.
            If you’re a fan of Virgil Abloh’s work and want to rep Off-White, this pair is another must-have.
        </p>
      </div>
    
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img
        src="/images/yeezyzebra.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Adidas Yeezy Boost 350 V2 Zebra</h5>
        <p class="card-text">
          Adidas is back with their latest Yeezy Boost 350 V2. Fresh off the heels of NBA All-Star Weekend, these Yeezy's are nicknamed the "Zebras,"
            and come in a classic white, black and red color scheme. Sporting a white-based Primeknit upper with black accents giving off a Zebra stripe vibe, 
            “SPLY-350” displayed across the sides in red finished off by a translucent BOOST cushioned sole. 
            To date they are the most limited adidas Yeezy release and have instantly become one of the most popular colorways.
            Their release date is set for February 25th, 2017. Retail is set at $220 and they will only be available in men’s sizing, no love for infants from Yeezus this time around. On June 24th, 
            adidas will re-release the coveted “Zebras,” giving fans worldwide one more shot at obtaining one of 2017s most popular kicks. 
        </p>
      </div>
      
    </div>
  </div>
</div>

        <br />
        <br />
       
</div>
</div>