@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="font-size:50px;">Kicks'R'Us</h1>
    <h3>The #1 place for sneaker connoisseurs.</h3>
</div>

<div class="hero-image">
    @*<div class="hero-text">
        <h1 style="font-size:50px">Kicks'R'Us</h1>
        <h3>The #1 place for sneaker connoisseurs.</h3>
    </div>*@
</div>