@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>All of the info in this website is sole property of Orlando Lopez. The content is used for development reasons and in no way is it an actual store entity.</p>
