body {

    color: #000000;
    background-color: #E5E5E5;
   

}

#page-container{
    position: relative;
    min-height: 100vh;

}

#content-wrap {
    padding-bottom: 2.5rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

/*div.form {
    display: block;
    text-align: center;
    height: 100%;
    width: 100%;
}
form {
        display: inline-block;
        margin-left:auto;
        margin-right: auto;
        text-align: left;
        color: black;

}*/

.hero-image {
  background: url(/images/bannerimage.jpg);
  background-size: cover;
  height: 500px;
  position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
}

.main-navbar {
    background-color: #FCA311;
    color: #E5E5E5;
}


