@model SneakersWebsite.Models.ContactFormModel

@{
    ViewData["Title"] = "Contact Us";
}

<br />
<h1>Contact Us!</h1>

<hr />

<div class="col-md-5">
<form class="form" asp-action="Contact" asp-controller="Contact" method="post">
    @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
    <div class="form-outline mb-4">
        <input type="text" asp-for="Name" class="form-control" />
        <label asp-for="Name" class="form-label"></label>
        @*<span asp-validation-for="Name" class="text-danger"></span>*@
    </div>
    <div class="form-outline mb-4 ">
        <input type="email" asp-for="Email" class="form-control" />
        <label asp-for="Email" class="form-label"></label>
        
        @*<span asp-validation-for="Email" class="text-danger"></span>*@
    </div>
    <div class="form-outline mb-4">
        <textarea asp-for="Message" class="form-control"></textarea>
        <label asp-for="Message" class="form-label"></label>
        
        @*<span asp-validation-for="Message" class="text-danger"></span>*@
    </div>
    <div class="form-group">
        <input type="submit" value="Send Message!" class="btn btn-primary" />
    </div>
</form>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2999.04935315976!2d-111.9670134843507!3d41.264261311581365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87530c1bdc07b2ad%3A0x4fb3dacbdd584e8b!2sOgden-Weber%20Technical%20College!5e0!3m2!1sen!2sus!4v1624378382300!5m2!1sen!2sus" 
width="1400" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
