
@{
    ViewData["Title"] = "Adidas Hu NMD";
}

<br />
<br />
<div id="page-container">
    <div id="content-wrap">



        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="/images/SneakerImages/blackyellowhumanraces.jpg"
                         alt="Adidas NMD HU Pharrel Human Species Black"
                         class="rounded image-responsive"
                         style="height:600px;width:550px;" />
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Adidas Hu NMD</h1>
                        </div>
                    </div> <!--End Row-->

                    <div class="row">
                        <div class="col-md-12">
                            <span class="label label-primary">Limited</span>
                            <span class="monospaced">No. 1964523718</span>
                        </div>
                    </div> <!-- End Row-->

                    <div class="row">
                        <div class="col-md-12">
                            <p class="description">
                                In collaboration with Adidas, Pharrel dropped these kicks for the world. Based on the NMD base, these are sure to turn heads.
                            </p>
                        </div>
                    </div> <!--End Row-->

                    <div class="row">
                        <div class="col-md-12 bottom-rule">
                            <h2 class="product-price">$250</h2>
                        </div>
                    </div> <!--End Row-->

                    <div class="row">
                        <div class="col-md-4">
                            <button class="btn btn-lg btn-brand btn-full-width">
                                Add to Cart!
                            </button>
                        </div>
                    </div> <!-- End Row-->
                </div>
            </div>
        </div>

    </div>
</div>