
@{
    ViewData["Title"] = "Nike Blazer Mid Sacai Snow Beach";
}

<br />
<br />
<div id="page-container">
    <div id="content-wrap">



        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="/images/SneakerImages/nikesacai.jpg"
                         alt="Nike Blazer Mid Sacai Snow Beach"
                         class="image-responsive"
                         style="height:600px;width:550px;" />
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Nike Blazer Mid Sacai Snow Beach</h1>
                        </div>
                    </div> <!--End Row-->

                    <div class="row">
                        <div class="col-md-12">
                            <span class="label label-primary">Limited</span>
                            <span class="monospaced">No. 19645237896</span>
                        </div>
                    </div> <!-- End Row-->

                    <div class="row">
                        <div class="col-md-12">
                            <p class="description">
                                Hit your nearest beach in style while rocking the Nike Blazer High sacai Snow Beach. This Blazer High comes with a yellow upper plus blue accents, 
                                red Nike “Swoosh”, blue Nike “Swoosh”, white midsole, and white sole. 
                            </p>
                        </div>
                    </div> <!--End Row-->

                    <div class="row">
                        <div class="col-md-12 bottom-rule">
                            <h2 class="product-price">$450</h2>
                        </div>
                    </div> <!--End Row-->

                    <div class="row">
                        <div class="col-md-4">
                            <button class="btn btn-lg btn-brand btn-full-width">
                                Add to Cart!
                            </button>
                        </div>
                    </div> <!-- End Row-->
                </div>
            </div>
        </div>

    </div>
</div>