
@{
    ViewData["Title"] = "Jordan 1 Retro High Bred Toe";
}

<br />
<br />
<div id="page-container">
    <div id="content-wrap">



        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="/images/bredtoes.jpg"
                         alt="Jordan 1 Retro High Bred Toe"
                         class=" rounded image-responsive"
                         style="height:600px;width:550px;" />
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Jordan 1 Retro High Bred Toe</h1>
                        </div>
                    </div> <!--End Row-->

                    <div class="row">
                        <div class="col-md-12">
                            <span class="label label-primary">Limited</span>
                            <span class="monospaced">No. 19645237742</span>
                        </div>
                    </div> <!-- End Row-->

                    <div class="row">
                        <div class="col-md-12">
                            <p class="description">
                               Combining elements of three certified classic AJ1’s, the 2018 Jordan 1 Retro High Bred Toe is like the Coachella lineup of OG 1s. Coming in gym red, black, and summit white, with red on the toe box, outsole, and wrapping around the ankle and heel, white side panels and midsole and black covering the rest of the sneaker,
                               it’s a perfectly balanced mash-up of the Banned, Chicago, and Black Toe all in one. 
                            </p>
                        </div>
                    </div> <!--End Row-->

                    <div class="row">
                        <div class="col-md-12 bottom-rule">
                            <h2 class="product-price">$750</h2>
                        </div>
                    </div> <!--End Row-->

                    <div class="row">
                        <div class="col-md-4">
                            <button class="btn btn-lg btn-brand btn-full-width">
                                Add to Cart!
                            </button>
                        </div>
                    </div> <!-- End Row-->
                </div>
            </div>
        </div>

    </div>
</div>
