
@{
    ViewData["Title"] = "Jordan 1 Retro High Royal Toe";
}

<br />
<br />
<div id="page-container">
    <div id="content-wrap">



        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="/images/SneakerImages/jordan1highroyal.jpg"
                         alt="Jordan 1 Retro High Royal Toe"
                         class=" rounded image-responsive"
                         style="height:650px;width:550px;" />
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Jordan 1 Retro High Royal Toe</h1>
                        </div>
                    </div> <!--End Row-->

                    <div class="row">
                        <div class="col-md-12">
                            <span class="label label-primary">Limited</span>
                            <span class="monospaced">No. 196452377023</span>
                        </div>
                    </div> <!-- End Row-->

                    <div class="row">
                        <div class="col-md-12">
                            <p class="description">
                               Jordan Brand adds a twist to a classic with the Jordan 1 Retro High Royal Toe. Releases like the Shattered Backboard 1 and Bred Toe have shifted all eyes on Jordan’s 
                               “Black Toe” inspired colorways. The Royal Toe takes inspiration from the original Jordan 1 Royal colorway 
                               (which released in 1985) and adds design elements of the Black Toe 1 to create a familiar, but new dialogue. 
                            </p>
                        </div>
                    </div> <!--End Row-->

                    <div class="row">
                        <div class="col-md-12 bottom-rule">
                            <h2 class="product-price">$550</h2>
                        </div>
                    </div> <!--End Row-->

                    <div class="row">
                        <div class="col-md-4">
                            <button class="btn btn-lg btn-brand btn-full-width">
                                Add to Cart!
                            </button>
                        </div>
                    </div> <!-- End Row-->
                </div>
            </div>
        </div>

    </div>
</div>
