
@{
    ViewData["Title"] = "Jordan 1 Retro High Off-White University Blue";
}

<br />
<br />
<div id="page-container">
    <div id="content-wrap">



        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="/images/nikejordansoffwhite.jpg"
                         alt="Jordan 1 Retro High Off-White University Blue"
                         class=" rounded image-responsive"
                         style="height:650px;width:500px;" />
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Jordan 1 Retro High Off-White University Blue</h1>
                        </div>
                    </div> <!--End Row-->

                    <div class="row">
                        <div class="col-md-12">
                            <span class="label label-primary">Limited</span>
                            <span class="monospaced">No. 196452377412</span>
                        </div>
                    </div> <!-- End Row-->

                    <div class="row">
                        <div class="col-md-12">
                            <p class="description">
                               Time for some Tobacco Road vibes with these Jordan 1 Retro Off-Whites. Also known as the “UNC” editions, these Jordan 1s are the third colorway designed by Virgil Abloh
                               and made in collaboration with his Off-White label. 
                               The sneakers come in a white, dark powder blue and cone colorway, with a white and blue deconstructed leather upper and Off-White detailing throughout. 
                            </p>
                        </div>
                    </div> <!--End Row-->

                    <div class="row">
                        <div class="col-md-12 bottom-rule">
                            <h2 class="product-price">$1050</h2>
                        </div>
                    </div> <!--End Row-->

                    <div class="row">
                        <div class="col-md-4">
                            <button class="btn btn-lg btn-brand btn-full-width">
                                Add to Cart!
                            </button>
                        </div>
                    </div> <!-- End Row-->
                </div>
            </div>
        </div>

    </div>
</div>
