
@{
    ViewData["Title"] = "Yeezy V2 Beluga";
}

<br />
<br />
<div id="page-container">
    <div id="content-wrap">



        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="/images/SneakerImages/yeezybelugav1.jpg"
                         alt="Adidas Yeezy Boost 350 V2 Beluga"
                         class="rounded image-responsive"
                         style="height:750px;width:550px;" />
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Adidas Yeezy Boost 350 V2 Beluga</h1>
                        </div>
                    </div> <!--End Row-->

                    <div class="row">
                        <div class="col-md-12">
                            <span class="label label-primary">Limited</span>
                            <span class="monospaced">No. 19645237896</span>
                        </div>
                    </div> <!-- End Row-->

                    <div class="row">
                        <div class="col-md-12">
                            <p class="description">
                                 The Yeezy Boost 350 V2 adds a bold twist to Kanye's design with a bright orange (officially Solar Red) 
            stripe across the Steel Grey/Beluga zebra-striped upper with the text YZY SPLY. 
                            </p>
                        </div>
                    </div> <!--End Row-->

                    <div class="row">
                        <div class="col-md-12 bottom-rule">
                            <h2 class="product-price">$650</h2>
                        </div>
                    </div> <!--End Row-->

                    <div class="row">
                        <div class="col-md-4">
                            <button class="btn btn-lg btn-brand btn-full-width">
                                Add to Cart!
                            </button>
                        </div>
                    </div> <!-- End Row-->
                </div>
            </div>
        </div>

    </div>
</div>